@model Spielzeugverleih.Models.Toy

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Toy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Condition.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToyPicList)
        </dt>

        <dd>
            <table>
                <tr>
                    @foreach (var image in Model.ToyPicList)
                    {
                        <td width="130px">
                            <img height="100" width="100" src="data:image;base64,@Convert.ToBase64String(image.Picture)" />
                        </td>
                    }
                </tr>
            </table>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
