@model Spielzeugverleih.Models.Toy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Toy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Condition.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleNr)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.ToyPicListId)*@BLA BLA
        </dt>

        <dd>
            <table>
                <tr>
                    @foreach (var image in Model.ToyPicList)
                    {

                        <td width="130px">
                            <img height="100" width="100" src="data:image;base64,@Convert.ToBase64String(image.Picture)" />
                            @*<img src="@Url.Action("Index", "Images", new { id = image.Id })" style="max-height:100px; max-width:100px;" />*@
                        </td>

                    }
                </tr>
            </table>
            @*<img height="100" width="100" src="data:image;base64,@Convert.ToBase64String(image.Picture)" />*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ToyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
