@model IEnumerable<Spielzeugverleih.Models.Toy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Condition.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToyPicList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Condition.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleNr)
            </td>
            <td>
                @if (item.ToyPicList.Count > 0)
                {
                    <img height="100" width="100" src="data:image;base64,@Convert.ToBase64String(item.ToyPicList.FirstOrDefault().Picture)" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ToyId })
                @if (Request.IsAuthenticated)
                {
                    @:|
                    @Html.ActionLink("Reserve", "Create", "Reservations", new { id = item.ToyId }, null)
                }
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    @:|
                    @Html.ActionLink("Edit", "Edit", new { id = item.ToyId }) @:|
                    @Html.ActionLink("Delete", "Delete", new { id = item.ToyId }) @:|
                }
            </td>
        </tr>
    }
</table>
