@model IEnumerable<Spielzeugverleih.Models.Toy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Condition.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToyPicId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Available)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Condition.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleNr)
        </td>
        <td>
            @if (item.ToyPicList.Count > 0)
            {
                <img height="100" width="100" src="data:image;base64,@Convert.ToBase64String(item.ToyPicList.FirstOrDefault().Picture)" />
            }
            <img height="100" width="100" src="data:image;base64,@Convert.ToBase64String(item.ToyPicList.FirstOrDefault().Picture)" />
            @Html.DisplayFor(modelItem => item.ToyPicId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Available)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ToyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ToyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ToyId })
        </td>
    </tr>
}

</table>
