@model Serie_3___Aufgabe_1.Models.Herausgeber

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Herausgeber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebsiteUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebsiteUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HerausgeberId }) |
    @Html.ActionLink("Back to List", "Index")
</p>