@model MusicStore.Models.Editor

@{
    ViewBag.Title = "Bearbeiter ändern";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.EditorId)

    <table class="table">
        <tr>
            <td>
                @Html.LabelFor(model => model.Name)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.WebsiteUrl)
            </td>
            <td>
                @Html.TextBoxFor(model => model.WebsiteUrl)
            </td>
        </tr>
    </table>

    <input type="submit" value="Speichern" />
}