@model IEnumerable<Serie_2___Aufgabe_1.Models.Fahrzeug>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hubraum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FarbId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HerstellerId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hubraum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FarbId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HerstellerId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FahrzeugId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FahrzeugId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FahrzeugId })
        </td>
    </tr>
}

</table>
